<div class="row">
  <input type="text" placeholder="search" ng-model="search.filter">
  <br>
  <table class="table table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th><a href="" ng-click="search.orderBy('beer')">Beer</a></th>
        <th><a href="" ng-click="search.orderBy('calories')">Calories</a></th>
        <th><a href="" ng-click="search.orderBy('alchohol')">Alchohol Content</a></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="beer in data.beers | orderBy: search.predicate | filter:search.filter">
        <td>{{beer.name}}</td>
        <td>{{beer.calories}}</td>
        <td>{{beer.alchohol}}</td>
      </tr>
    </tbody>
  </table>
</div>
